beautifulsoup4==4.8.0
certifi==2019.6.16
chardet==3.0.4
cycler==0.10.0
graphviz==0.11.1
idna==2.8
inline==0.0.1
joblib==1.2.0
kiwisolver==1.1.0
matplotlib==3.1.1
mysql==0.0.2
mysql-connector-python==8.0.17
mysqlclient==1.4.2.post1
numpy==1.17.0
protobuf==3.9.0
pyparsing==2.4.2
python-dateutil==2.8.0
requests==2.22.0
scikit-learn==0.21.3
scipy==1.3.0
six==1.12.0
soupsieve==1.9.2
urllib3==1.25.3
